{% extends '@MvoContaoSurvey/Form/Question.html.twig' %}

{% block form_row %}
    <div class="{% block answer_classes %}survey_answer survey_answer--rating{% endblock %}">
        {# todo: nullable star rating #}
        {{ form_row(form) }}
    </div>
{%- endblock -%}
