parameters:
  universalObjectCratesClasses:
    - Contao\Model

  ignoreErrors:
    -
      message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
      path: src/DependencyInjection/Configuration

    -
      message: '#Constant CURRENT_ID not found.#'
      path: src/EventListener/DataContainer

    -
      message: '#Access to an undefined property object::\$published.#'
      path: src/EventListener/DataContainer/Survey.php
