.tl_listing_container {
  counter-reset: question;

  $color-muted: #999;
  $default-margin: .3em;

  .survey_question_title::before {
    counter-increment: question;
    content: counter(question) ") ";
    color: $color-muted;
    margin-right: $default-margin;
  }

  .survey_answer_count {
    color: $color-muted;
    margin-left: $default-margin;
  }
}

#pal_published_legend {
  margin-top: 0;
  padding-top: 5px;
  transition: 0.15s background-color ease-out;

  &:not(.collapsed) {
    background: #faebeb;
    color: #c33;

    > legend {
      width: 100%;
      background-color: #faebeb;
    }

    .tl_help, .tl_help a {
      color: #cc3333;
    }
  }
}
