{% extends '@MvoContaoSurvey/survey.html.twig' %}
{% trans_default_domain 'MvoContaoSurveyBundle' %}

{% block content %}
    <h3 class="{% block sub_headline_classes %}{% endblock %}">{{ 'frozen.headline'|trans() }}</h3>

    <p class="{% block description_classes %}{% endblock %}">{{ 'frozen.message'|trans() }}</p>
{% endblock %}
