{% extends '@MvoContaoSurvey/survey.html.twig' %}
{% trans_default_domain 'MvoContaoSurveyBundle' %}

{% block content %}
    <h3>{{ 'thanks.headline'|trans() }}</h3>
    {{ survey.noteAfterSubmission|raw }}
    {% if survey.buttonLabel -%}
        <div class="button">
            <a href="{{ survey.buttonHref }}">{{ survey.buttonLabel }}</a>
        </div>
    {%- endif %}
{% endblock %}