{% extends '@MvoContaoSurvey/survey.html.twig' %}

{% block headline %}
    {{ 'thanks'|trans() }}
{% endblock %}

{% block content %}
    {{ survey.noteAfterSubmission|raw }}
    {% if survey.buttonLabel -%}
        <div class="button">
            <a href="{{ survey.buttonHref }}">{{ survey.buttonLabel }}</a>
        </div>
    {%- endif %}
{% endblock %}