{% extends '@MvoContaoSurvey/survey.html.twig' %}
{% trans_default_domain 'MvoContaoSurveyBundle' %}

{% block content %}
    <h3>{{ 'unpublished.headline'|trans() }}</h3>

    <p>{{ 'unpublished.message'|trans() }}</p>
{% endblock %}
