<div class="{{ class }}">
    <h2 class="headline">
        {%- block headline %}
            {{- headline -}}
        {% endblock -%}
    </h2>
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>
</div>